# for backend server

node_modules/
config/default.json

# for react frontend

/client/build
/client/.env.local
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/client/.pnp
/client/.pnp.js
